src/main/java/com/prowidesoftware/controller/issettled-apphdr-pacs008.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:issettled"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:head="urn:iso:std:iso:20022:tech:xsd:head.001.001.03"
    xmlns:iscct="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.09"
    elementFormDefault="qualified" 
    targetNamespace="urn:issettled">
    <xsd:import namespace="urn:iso:std:iso:20022:tech:xsd:head.001.001.03" schemaLocation="head.001.001.03.xsd"/>
    <xsd:import namespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.09" schemaLocation="pacs.008.001.09.xsd"/>
    <xsd:complexType name="HdrAndDoc">
        <xsd:sequence>
            <xsd:element name="AppHdr" type="head:BusinessApplicationHeaderV03"/>
            <xsd:choice>
                <xsd:element name="FIToFICstmrCdtTrf" type="iscct:FIToFICustomerCreditTransferV09"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Message" type="HdrAndDoc"/>
</xsd:schema>